<%= link_to 'Настройки модели', :controller => :model, :model => @model_name, :action => :index %>

<table>
	<tr>
		<th>№</th>
		<% colzer(@model.classify.constantize.new).each do |f| %>
			<th><%= f.label %></th>
		<% end %>
		<th></th>
		
		
	</tr>
	
</table>

<table>
	<% @objects.each_index do |index| %>
		<%= @objects[index].render_in_list %>
	<% end %>
</table>