<%#= link_to 'Настройки модели', :controller => :model, :model => @model_name, :action => :index %>

<% if @objects.length > 0 %>
    <table>
      <tr>
        <% colzer(@model.new).each do |f| %>
            <th><%= f.label %></th>
        <% end %>
        <th></th>


      </tr>

    </table>

    <table>
      <% @objects.each do |obj| %>
          <tr class="item_row_unit">
              <% result = obj.view_object %>
              <% result.each do |f| %>
                <td><%= f %></td>
              <% end %>
              <% @actions.each do |a| %>
                <% if a.location == 0 %>
                  <td><%= a.render_label(obj.object) %></td>
                <% end %>
              <% end %>
          </tr>
      <% end %>
      <% @actions.each do |a| %>
          <% if a.location == 1 %>
              <td><%= a.render_label %></td>
          <% end %>
      <% end %>
    </table>
<% else %>
    <h4>Ничего не найдено</h4>
<% end %>