<ul>
	<li><%= link_to 'Universities', :controller => :universities, :action => :index %></li>
	<li><%= link_to 'Users', :controller => :users, :action => :index %></li>
	<li><%= link_to 'Faculties', :controller => :faculties, :action => :index %></li>
	
</ul>

