<h4>Модели данных</h4>
<ul>
  <li><%= link_to 'ВУЗы', :controller => 'my_admin/universities', :action => :index %></li>
  <li><%= link_to 'Факультеты', :controller => 'my_admin/faculties', :action => :index %></li>
</ul>

<%= @html %>