<% if result.size > 0 %>
	<ul>
	<% result.each do |f| %>
		<span class="index_list_column"><%= f.html(:single) %></span>
	<% end %>
	<span><%= MyFields::Link.new('Редактировать', [:my_admin, @class_simple_name.pluralize], :edit, {:id => 1}).html%></span>
	<% if ! include_relations and relations.size > 0 %>
			<% relations.each do |rel| %>
				<% if rel[1].size > 0 %>
					<li><%= rel[0] %></li>
					<% rel[1].each do |r| %>
						<li><%= r.render_in_list false %></li>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</ul>
<% end %>

<%#= link_to 'Добавить', '#'%>
